*.class
nbproject/private/
*~
*.lock
*.DS_Store
*.swp
*.out
*.svn
/BotBeans/build/
/BotBeans/Bot Blocks/build/
/BotBeans/Bot Control/build/
/BotBeans/Bot Common/build/
/BotBeans/Bot Shapes/build/
/BotBeans/TableLayout/build/
/BotBeans/jfreechart/build/
/BotBeans/jcommon/build/
+build/
/BotBeans/bluecove/build/
/BotBeans/RibbonPlatform/nbproject/private/
/BotBeans/RibbonPlatform/build/
/BotBeans/RibbonPlatform/flamingo/nbproject/private/
/BotBeans/RibbonPlatform/flamingo-integration/nbproject/private/
/BotBeans/RibbonPlatform/flamingo-integration/build/
/BotBeans/RibbonPlatform/test-flamingo-integration/build/
/BotBeans/RibbonPlatform/flamingo/build/
/BotBeans/nbproject/private/
/BotBeans/Bot Shapes/nbproject/private/
/BotBeans/Bot Control/nbproject/private/
/Bot Common/build/
/TableLayout/build/
/bluecove/build/
/jcommon/build/
/jfreechart/build/